<div class="container d-flex">
  <div class="row">
    <div class="container my-4 col col-4">
      <div class="dashboard-card">
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="https://www.pngmart.com/files/21/Account-Avatar-Profile-PNG-Photo.png" alt="avatar">
        <button type="button" class="btn btn-secondary btn-sm">Edit Profil</button>
        <% if @user.first_name.nil? && @user.last_name.nil? %>
            <h3>Your profile</h3>
        <% else %>
            <h3><%= @user.first_name @user.last_name %></h3>
        <% end %>
      </div>
       <div class="d-flex flex-column align-items-center gap-3">
        <p class="dashboard-card-title"><%= @user.email %></p>
        <p>Address:<%= @user.address %></p>
        <p>Number of offers: <%= @user.offers.length %></p>
        <p>Number of rentals: <%= @user.rentals.length %></p>
      </div>
    </div>
  </div>
  <div class="container d-flex row flex-wrap col col-8">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">My offers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">My rentals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">My books</a>
  </li>
</ul>
      <% @offers.each do |offer| %>
            <div class="book d-flex flex-column">
              <div id='price-tag'>
                <span>¥ <%= offer.price.to_i %></span>
              </div>
              <div class="cover">
                <img src="https://s-media-cache-ak0.pinimg.com/564x/f9/8e/2d/f98e2d661445620266c0855d418aab71.jpg">
              </div>
              <div class="description">
                <p class="title"><%= offer.book.title %><br>
                  <span class="author"><%= offer.book.author %></span></p>
              </div>
              <%= link_to 'Check Offer', offer_path(offer), class: 'btn btn-secondary mb-3 rounded' %>
            </div>
          <% end %>
  </div>
</div>
</div>
