<div class="container d-flex justify-content-center">
  <div class="row w-100 justify-content-center">
    <div class="container my-4 col-sm-12 col-md-4">
      <div class="dashboard-card">
        <div class="d-flex flex-column align-items-center gap-3">
          <img src="https://www.pngmart.com/files/21/Account-Avatar-Profile-PNG-Photo.png" alt="avatar">
          <button type="button" class="btn btn-secondary btn-sm">Edit Profil</button>
          <% if @user.first_name.nil? && @user.last_name.nil? %>
              <h3>Your profile</h3>
          <% else %>
              <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
          <% end %>
        </div>
        <div class="d-flex flex-column align-items-center gap-3">
          <p class="dashboard-card-title"><%= @user.email %></p>
          <p>Address:<%= @user.address %></p>
          <p>Number of offers: <%= @user.offers.length %></p>
          <p>Number of rentals: <%= @user.rentals.length %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">My offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">My rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My books</a>
        </li>
      </ul>
      <div class="book-grid">
        <% @rentals.each do |rental| %>
          <div class="book book-dashboard d-flex flex-column">
            <div class="cover">
              <%= image_tag rental.offer.book.cover_url, alt: "#{rental.offer.book.title} cover" %>
            </div>
            <div class="description">
              <p class="title"><%= rental.offer.book.title %><br>
                <span class="author"><%= rental.offer.book.author %></span><br>
                <span class="author"><%= rental.duration_start <= Date.today ? "Rent already started" : "Your rent start in #{pluralize((rental.duration_start - Date.today).to_i, "day")}" %></span><br>
                <span class="author"><%= pluralize((rental.duration_end - Date.today).to_i, "Day")%> left</span></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
