<div class="container d-flex justify-content-center" data-controller="tabdashboard">
  <div class="row w-100 justify-content-center">
    <div class="container my-4 col-sm-12 col-md-4">
      <div class="dashboard-card">
        <div class="d-flex flex-column align-items-center gap-3">
          <% if @user.photo.present? %>
            <img src="<%=@user.photo%>" alt="avatar">
          <% else %>
            <img src="https://www.pngmart.com/files/21/Account-Avatar-Profile-PNG-Photo.png" alt="avatar">
          <% end %>
          <button type="button" class="btn btn-secondary btn-sm">Edit Profil</button>
          <% if @user.first_name.nil? && @user.last_name.nil? %>
            <h3>Your profile</h3>
          <% else %>
            <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
          <% end %>
        </div>
        <div class="d-flex flex-column align-items-center gap-3">
          <p class="dashboard-card-title"><%= @user.email %></p>
          <p>Address:<%= @user.address %></p>
          <p>Number of offers: <%= @user.offers.length %></p>
          <p>Number of rentals: <%= @user.rentals.length %></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" data-tabdashboard-target="tabOffer tab" data-action="click->tabdashboard#toggle">My offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-tabdashboard-target="tabRental tab" data-action="click->tabdashboard#toggle">My rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-tabdashboard-target="tabBook tab" data-action="click->tabdashboard#toggle">My books</a>
        </li>
      </ul>
      <div class="book-grid" data-tabdashboard-target='cards cardsRental'>
        <% @rentals.each do |rental| %>
          <div class="book book-dashboard d-flex flex-column">
            <div class="cover">
              <%= image_tag rental.offer.book.cover_url, alt: "#{rental.offer.book.title} cover" %>
            </div>
            <div class="description">
              <p class="title"><%= rental.offer.book.title %><br>
                <span class="author"><strong>Total: <%= rental.price.to_i%>¥</strong></span><br>
                <span class="author"><strong>From</strong> <%= rental.duration_start %> <strong>to</strong> <%= rental.duration_end %></span><br>
                <span class="author"><strong>Lent by: <%=rental.offer.user.first_name %> <%=rental.offer.user.last_name%></strong></span><br>
                <% if rental.status == "rejected" %>
                  <span class="author pt-2"><i class="fa-solid fa-circle color-dot-red"></i> <%= rental.status.capitalize%></span><br>
                <% elsif rental.status == "accepted" %>
                  <span class="author"><i class="fa-solid fa-circle color-dot-green"></i> <%= rental.status.capitalize%></span><br>
                <% elsif rental.status == "pending" %>
                  <span class="author"><i class="fa-solid fa-circle color-dot-orange"></i> <%= rental.status.capitalize%></span><br>
                <% end %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-none" data-tabdashboard-target='cardsOffer cards' >
        <h3 class="mt-3">My listed offers</h3>
        <div class="book-grid">
          <% @offers.each do |offer| %>
            <div class="book book-dashboard d-flex flex-column">
              <div class="cover">
                <%= image_tag offer.book.cover_url, alt: "#{offer.book.title} cover" %>
              </div>
              <div class="description">
                <p class="title"><%= offer.book.title %><br>
                  <span class="author"><%= offer.book.author %></span><br>
                  <span class="author"><strong><%= offer.price.to_i%>¥</strong> per day</span>
                  <span class="condition border rounded-5 px-3 align-self-center fs-6"><%= offer.condition.humanize %></span>
                  <span class="delete-button"><%= link_to offer_path(offer), data: { turbo_method: :delete, turbo_confirm: "Really?" } do %>
                      <i class="fa-solid fa-delete-left"></i></span></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <h3 class="mt-3">Currently rented</h3>
        <div class="book-grid">
          <% @offers.each do |offer| %>
            <% offer.rentals.each do |rental| %>
              <div class="book book-dashboard d-flex flex-column">
                <div class="cover">
                  <%= image_tag offer.book.cover_url, alt: "#{offer.book.title} cover" %>
                </div>
                <div class="description">
                  <p class="title"><%= offer.book.title %><br>
                    <span class="author"><strong>Total: <%= rental.price.to_i%>¥</strong></span><br>
                    <span class="author"><strong>From</strong> <%= rental.duration_start %> <strong>to</strong> <%= rental.duration_end %></span><br>
                    <span class="author"><strong>Rented by: <%=rental.user.first_name %> <%=rental.user.last_name%> </strong></span>
                    <div class="d-flex gap-2 position-relative">
                      <% if rental.pending? %>
                        <%= simple_form_for rental do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: 'accepted'}, wrapper_html: { class: "d-none"} %>
                          <%= f.submit 'Accept', class: 'btn btn-danger m-0' %>
                        <% end %>
                        <%= simple_form_for rental do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: 'rejected'}, wrapper_html: { class: "d-none"} %>
                          <%= f.submit 'Reject', class: 'btn btn-secondary m-0' %>
                        <% end %>
                      <% else %>
                        <% if rental.status == "rejected" %>
                          <span class="author pt-2"><i class="fa-solid fa-circle color-dot-red"></i> <%= rental.status.capitalize%></span><br>
                        <% elsif rental.status == "accepted" %>
                          <span class="author"><i class="fa-solid fa-circle color-dot-green"></i> <%= rental.status.capitalize%></span><br>
                        <% end %>
                      <% end %>
                      <span class="condition border rounded-5 px-3 align-self-center fs-6 position-absolute bottom-0 end-0"><%= rental.offer.condition.humanize %></span>
                    </div>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="book-grid d-none" data-tabdashboard-target='cardsBook cards' >
        <% @books.each do |book| %>
          <div class="book book-dashboard d-flex flex-column">
            <div class="cover">
              <%= image_tag book.cover_url, alt: "#{book.title} cover" %>
            </div>
            <div class="description">
              <p class="title"><%= book.title %><br>
                <span class="author"><%= book.author %></span><br>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
