<div class="container mb-4">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 side-section  sticky-top">
      <%= form_with url: booksearch_url, class: "d-flex", method: :get do |form| %>
        <%= form.text_field :query, placeholder: 'Another search...', class: "search-field flex-grow-3 mr-3", value: @query.gsub('+', ' ') %>
        <%= form.submit "Find", class: "btn btn-primary-red btn-sm w-25 ml-3" %>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div class="container ">
  <div class="row gx-5 gap-3 justify-content-center">
    <% @books.each do |book| %>
      <div class="offer-card-show col-sm-12 col-lg-8 ">
        <%= image_tag book.cover_url, alt: "Book Cover" %>
        <div class="h-100 py-3 ms-3 d-flex flex-column  flex-fill">
          <div class="offer-card-show-info overflow-auto ">
            <h2 class="border-bottom py-3"><%= book.title%></h2>
            <p class="description overflow-hidden"><%= book.year %></p>
            <p><%= book.category %></p>
            <p>By (author) <%= book.author%></p>
            <div class="container px-0 ">
              <p class="description"><%= book.description %></p>
            </div>
          </div>
          <div>
            <%= simple_form_for(book) do |f| %>
              <%= f.input :title, as: :hidden, input_html: {value: book.title}%>
              <%= f.input :isbn, as: :hidden, input_html: {value: book.isbn} %>
              <%= f.input :year, as: :hidden, input_html: {value: book.year} %>
              <%= f.input :description, as: :hidden, input_html: {value: book.description} %>
              <%= f.input :category, as: :hidden, input_html: {value: book.category} %>
              <%= f.input :cover_url, as: :hidden, input_html: {value: book.cover_url} %>
              <%= f.input :author, as: :hidden, input_html: {value: book.author}%>
              <%= f.submit "List this book", class: 'btn btn-primary-red' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
