<div class="container">
  <h3 class="card-title-header">View All Offers</h3>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-5">
        <%= form_tag offers_path, method: :get, class: "d-flex align-items-center m-0 gap-3" do %>
          <%= text_field_tag :q,
      params[:q],
      class: "form-control search-field",
      placeholder: "Search by Title, Author, or ISBN"
    %>
          <%= submit_tag "Search Offers", class: "btn btn-primary-black search-btn m-0" %>
        <% end %>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-9 d-flex flex-wrap" id='offers'>
        <% @offers.each do |offer| %>
          <%= render "offer_card", offer: offer %>
        <% end %>
      </div>
      <div class="col-3 h-100">
        <div class="side-section">
          <h3 class="side-section-header">Got a book you'd like to offer?</h3>
          <p class="catch-copy">No hassle with taking photos or typing titles</p>
          <p class="catch-copy">Click here to search our database for your book!</p>
          <div class="side-section-content">
            <%= form_with url: booksearch_url, method: :get do |form| %>
              <%= form.text_field :query, placeholder: 'Enter title, author, or ISBN', class: "search-field" %>
              <%= form.submit "Find My Book", class: "btn btn-primary-black" %>
            <% end %>
          </div>
        </div>
        <div class='side-section'>
          <h3 class='side-section-header'>Browse by Category</h3>
          <ul class='d-flex flex-column gap-3 list-unstyled'>
            <li class="category-list-item">Thriller</li>
            <li class="category-list-item">Romance</li>
            <li class="category-list-item">Sci-Fi</li>
            <li class="category-list-item">Famillies</li>
            <li class="category-list-item">Fantasy</li>
            <li class="category-list-item">Fiction</li>
            <li class="category-list-item">History</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
