<div class="container">
  <div class="row gx-5 gap-3 justify-content-center">
    <div class="offer-card-show col-8 mb-3">
      <%= image_tag @book.cover_url, alt: "text" %>
      <div class="h-100 pb-3 d-flex flex-column justify-content-between overflow-auto">
        <div class="offer-card-show-info">
          <h2 class="border-bottom py-3"><%= @book.title%></h2>
          <p class="description overflow-hidden"><%= @book.year %></p>
          <p><%= @book.category %></p>
          <p>By (author) <%= @book.author%></p>
          <p class="description"><%= @book.description %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= simple_form_for([@book, @offer], html: { class: "col-8"}) do |f| %>
      <%= f.input :condition, collection: Offer.conditions_humanized, label_method: :first, value_method: :second, include_blank: false %>
      <%= f.input :price, label: 'Price (¥)' %>
      <%= f.button :submit, class: "create-offer-button" %>
    <% end %>
  </div>
</div>
