<%# <div class="container">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="container">
          <img src="https://images-na.ssl-images-amazon.com/images/I/A1fS8mAs8nL.jpg" alt="book-cover">
        </div>
        <div class="container">
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div> %>
<div class="container">
  <div class="row gx-5 justify-content-center">
    <div class="offer-card-show col-8">
      <%= image_tag @offer.book.cover_url, alt: "#{@offer.book.title} cover", class: 'cover' %>
      <%# <img src="https://images-na.ssl-images-amazon.com/images/I/A1fS8mAs8nL.jpg" alt="book-cover" class="cover"> %>
      <div class="offer-card-show-info">
        <h2 class="border-bottom py-3"><%= @offer.book.title %></h2>
        <p class="description"><%= @offer.book.year %></p>
        <p><%= @offer.book.category %></p>
        <p><%= '⭐️' * rand(1..5) %></p>
        <p>By (author) <%= @offer.book.author %></p>
        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi nulla corporis est magnam nemo quis in aliquam repellat minus eius, praesentium voluptas beatae pariatur itaque voluptate laudantium, reiciendis iusto eveniet.
          Nostrum doloremque neque blanditiis eum officia. Ullam quas totam, numquam architecto omnis, pariatur repellendus possimus vel fuga saepe, nostrum est. Ut, maxime provident? Sed facere molestias qui cupiditate tempore. Eos.
          Obcaecati beatae sit ex eveniet unde enim atque. Possimus eveniet nihil voluptatem veniam maiores placeat, ab at, repellat distinctio mollitia totam.</p>
      </div>
    </div>
    <div class="rental col-3 ms-3 py-3">
      <p class="border-bottom price text-center py-3">¥<%= @offer.price.truncate %></p>
      <%= simple_form_for([@offer, @rental], html: { class: "form-group"}) do |f| %>
        <%= f.input :duration_start %>
        <%= f.input :duration_end %>
        <%= f.submit "Rent", class: "rental-button" %>
      <% end %>
    </div>
  </div>
</div>
<%# ¥500 %>
