<div class="book d-flex flex-column">
  <div class="cover">
    <%= image_tag offer.book.cover_url, alt: "#{offer.book.title} cover" %>
  </div>
  <div class="description">
    <p class="title">
      <%= offer.book.title %><br>
      <span class="author"><%= offer.book.author %></span>
    </p>
  </div>
  <div class="d-flex justify-content-between align-content-center">
    <span id='price-tag' class="pt-2">¥ <%= offer.price.to_i %></span>
    <span class="condition border rounded-5 px-3 align-self-center"><%= offer.condition.humanize %></span>
  </div>
  <%= link_to 'Check Offer', offer_path(offer), class: 'btn btn-primary-red mt-3 mb-3' %>
</div>
